venv/
.env

.DS_Store
Thumbs.db

data/raw/
data/processed/

*.log
*.tmp
*.bak

.ipynb_checkpoints/

src/models/*.h5
src/models/*.pth
src/models/*.ckpt

results/images/
results/metrics/

.idea/
.vscode/

__pycache__/
*.pyc
*.pyo